/*
 * Defined to decorate this blog in the way I like to decorate.
 *
 */

@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(https://fonts.googleapis.com/css?family=Exo+2:400,100);

html {
  font-family: 'Lato', 'Nanum Gothic', sans-serif;
}

.post-title {
  font-weight: normal;
  font-family: 'Exo 2', sans-serif;
}
