/*
 * Defined to decorate this blog in the way I like to decorate.
 *
 */

@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(https://fonts.googleapis.com/css?family=Exo+2:400,100);
@import url(https://fonts.googleapis.com/css?family=Architects+Daughter);
@import url(https://fonts.googleapis.com/css?family=Yantramanav:400,100);

html {
  font-family: 'Lato', 'Nanum Gothic', sans-serif;
}

body {
  background-color: #f4f4f4;
  color: #4cc2bf;
}

.post {
  padding: 30px;
  border-radius: 3px;
  background-color: #fff;
}

.post-title {
  font-family: 'Yantramanav', sans-serif;
  font-weight: 100;
}

.post-category-label {
  color: #fff;
  background-color: #CAEFC2;
  display: inline-block;
  padding: 0px 5px 0px 5px;
  margin-left: 20px
}

.post-category {
  font-size: 100%;
  color: #999;
  background-color: #fff;
}

.post-category-label .center {
  margin: auto;
}

.masthead {
  background-color: #333;
  border-bottom: none;
  padding-top:    1rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
}
}

.masthead-tagline {
  font-family: 'Yantramanav', sans-serif;
  font-weight: 300;
}

.sample-sentences .sample-sentence {
  background-color: #eee;
}

.blog-logo {
  max-height: 50px;
  margin-bottom: 0px;
}

.global-menu {
  padding-left: 0;
  font-family: 'Yantramanav', sans-serif;
  font-weight: 300;
  height: auto;
}

.menu-list {
  padding-left: 0;
  display: table;
}

.menu-list > li {
  float: left;
  display: block;
}

.menu-list > li > a {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  padding: 0 10px;
}

.menu-list:before {
  display: table;
  content: " ";
}
.menu-list:after {
  clear: both;
}
