<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="nav">
      <div class="blog-logo">
        <a href="/" title="Home">{{ site.title }}</a>
      </div>
      <div class="menu">
        <ul class="menu-list">
          <li><a href="/">posts</a></li>
          <li><a href="/about">dongwoo</a></li>
        </ul>
      </div>
    </div>

    <div class="container">
      {{ content }}
    </div>
    <div id="ad_floux">
      <!-- floux -->
      <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-2213321778857877"
         data-ad-slot="3671953348"
         data-ad-format="auto"></ins>
    </div>
    <script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

    <script id="dsq-count-scr" src="//dongwoo.disqus.com/count.js" async></script>


  </body>
</html>
