<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="masthead">
            <a href="/" title="Home">
              <div class="blog-logo">{{ site.title }}</div>
              <div class="menu">
                <ul>
                  <li>posts</li>
                  <li>dongwoo</li>
                </ul>
              </div>
            </a>
        </div>
    </div>

    <div class="container">
      {{ content }}
    </div>
  </body>
</html>
