<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
            <a href="/" title="Home"><img class="blog-logo" src="/public/img/idea-note-title-01.png"></a>
        </div>
        <div class="container global-menu">
        <ul class="menu-list">
          <li><a href="#">ALGORITHM</a></li>
          <li><a href="http://toybox.readthedocs.org">LANGUAGE</a></li>
          <li><a href="#">SOFTWARE</a></li>
          <li><a href="#">ENGLISH</a></li>
          <li><a href="#">PERSONAL</a><li>
          <li><a href="#">CONTANCT</a></li>
        </ul>
      </div>
      </div>
      <div class="container content">
        {{ content }}
      </div>
    </div>

  </body>
</html>
